<link rel="stylesheet" type="text/css" href="root.css">

<div id="works>"><ul><h2>
  <div style="color: #00ffa5; text-align: left;">
  Brian Signs up with GoHuntGeo
  <br>
  <br>
  <li>He starts tagging himself in different states and earning points</li>
  <li>Brian also sends invites to his friends to earn points</li>
  <li>Brian is almost done traveling the US but cannot travel to Alaska, so he expenses it with the points he earns</li>
  <li>Brian gets a special rewards after completing the US challenge</li>
  <li>Brian's waits for GoHuntGeo to rollout more travel challenges within the US and also for GoHuntGeo to release other continent challenges</li>
</ul></h2></div>
