<link rel="stylesheet" type="text/css" href="root.css">

<div id="works>"<h3>
Brian Signs up with GoHuntGeo
- He starts tagging himself in different states within the US and starts earning points
- Brian also sends invites to his friends to earn that points way as well
- Brian is almost done traveling the US but cannot travel to Alaska, so he expenses it with the points he earns
- Brian gets major rewards after completing the US challenge
- Brian's waits for GoHuntGeo to rollout more travel challenges within the US and also for them to release other continent challenges
</h3></div>
