<link rel="stylesheet" type="text/css" href="root.css">

<h1>
  <div style="width: 150px; background: yellow; border: 2px solid #ffffff;"> 1. Sign up </div>
  <div style="width: 495px; background: yellow;border: 2px solid #ffffff;"> 2. Refer some friends to earn points </div>
  <div style="width: 780px; background: yellow;border: 2px solid #ffffff;"> 3. Start tagging yourself as you travel from state to state </div>
  <div style="width: 210px; background: yellow;border: 2px solid #ffffff;"> 4. Get rewards </div>
</h1>