<link rel="stylesheet" type="text/css" href="root.css">

<h1 id="site">
  <a href='/'>GoHuntGeo</a>
  <div style="margin-right:85%;">
    <form method="get" action="/login">
      <button>Register or Login</button>
    </form>
    <form method="get" action="/how_to_start">
      <button>How to start</button>
    </form>
    <form method="get" action="/how_this_works">
      <button>How this works</button>
    </form>
    <form method="get" action="/why">
      <button>Why</button>
    </form>
    <form method="get" action="/contact_us">
      <button>Contact us</button>
    </form>
    <br>
  </div>
</h1>
  <h3 id="notice">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %></h3>
<br>
<%= yield %>