<link rel="stylesheet" type="text/css" href="root.css">
<h1 id="site">GoHuntGeo
  <div style="margin-right:85%;">
    <form method="get" action="/login_sign_up">
      <button>Sign up or Login</button>
    </form>
    <form method="get" action="/how_to_start">
      <button>How to start</button>
    </form>
    <form method="get" action="/how_this_works">
      <button>How this works</button>
    </form>
    <form method="get" action="/why">
      <button>Why</button>
    </form>
    <form method="get" action="/contact_us">
      <button>Contact us</button>
    </form>
    <br>
  </div>
</h1>
<br>
<br>
<%= yield %>