<link rel="stylesheet" type="text/css" href="root.css">

<div id="contact">
  <h1>Refer a friend</h1>
  <form method="post" action="/refer">
    <label for="friend_name">Friend's Name: </label>
    <input type="text" name="friend_name" class="textbox" required/>
    <br>
    <label for="friend_email">Friend's Email: </label>
    <input type="email" name="friend_email" class="textbox" required/>
    <br>
    <br>
    <input type="submit" value="Submit"/>
    <br>
  </form>
</div>