<div id="content_container">
  <div id="content">
    <h3> Sign up and start earning points based on how much you travel in the US. You can also earn points by inviting
      your friends to join too. Use those points to expense states that you cannot visit and finish the US challenge. A
      special rewards awaits those that complete it....</h3>
<br>
    <h3> Oh, and there are also rewards to mark your acheievements as you go!</h3>
  </div>
  <div id="flag-map" style="margin-left: auto; margin-right: auto; width: 70%;">
    <img src="/images/state_flag_map.jpg">
  </div>
</div>