<link rel="stylesheet" type="text/css" href="root.css">

<% if session[:user] %>
<h1 id="welcome">Welcome, <%= @database_connection.sql("select username from users where id = '#{session[:user]}'").reduce["username"]%></h1>
  <% end %>
<form method="post" action="">
  <button>Mark your location</button>
</form>
<h1 id="location">
  <% if @location.present? %>
    <%= @location.city %>
    <%= ", " %>
    <%= @location.state %>
  <% end %>
</h1>
<br>

<div id="mapdiv" style="margin-left: auto; margin-right: auto; width: 90%;; height: 450px;"></div>​
<!--<link href="http://www.nps.gov/npmap/bootstrap/dist/css/nps-bootstrap.min.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />-->

<!--<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>-->
<script>
  var NPMap;
//  NPMap = new L.Map('mapdiv', {
  NPMap = {
    baseLayers: [
      'nps-satelliteNight',
    ],
    center: {
      lat: 37.1007454,
      lng: -96.900
    },
    div: 'mapdiv',
    fullscreenControl: true,
    asdf: 'asdf',
    overlays: [
      {
        name: 'usahigh',
        clickable: false,
        table: 'usahigh',
        type: 'cartodb',
        user: 'cpbuckingham',
        cartocss: "#usahigh{" +
          "line-color: black;" +
          "line-width: 3;" +
          "polygon-fill: #00ffa5;" +
          "}"
//          "[geo_id = 'CA'] {" +
//          "polygon-fill: white" +
//          "}"
      }
    ],
    maxZoom: 8,
    minZoom: 2,
    scrollWheelZoom: false,
    zoom: 4
  };
  console.log(NPMap, 'L');

  L.geoJson(geojson, { style: L.mapbox.simplestyle.style }).addTo(map);
  // For testing this object, we are making the NPMap object availible in the console by assigning it to the window object.
  window.cam = NPMap;
  // We will delete this in a bit, but check it out. In the console: cam.L returns an object now.
//  });
  (function () {
    var s = document.createElement('script');
    s.src = 'http://www.nps.gov/npmap/npmap.js/2.0.0/npmap-bootstrap.min.js';
    document.body.appendChild(s);

//    window.onload = function() {
//      cartodb.createLayer(NPMap, 'http://documentation.cartodb.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json')
//        .addTo(NPMap)
//        .on('done', function(layer) {
//          //do stuff
//        })
//        .on('error', function(err) {
//          alert("some error occurred: " + err);
//        });
//    }
//    document.addEventListener('click', myfunction, false);

//    var myfunction = function() {
//      update layer on map
//    };

  })();
</script>

<!--<div id="mapdiv" style="margin-left: auto; margin-right: auto; width: 90%;; height: 450px;"></div>​-->
<!--<script src="http://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>-->
<!--<script src="http://www.amcharts.com/lib/3/maps/js/usaHigh.js" type="text/javascript"></script>-->
<!--<div id="map"></div>-->
<!--<script type="text/javascript">-->
<!--//  var map;-->
<!--//  AmCharts.ready(function() {-->
<!--//    map                  = new AmCharts.AmMap();-->
<!--//    map.pathToImages     = "http://www.amcharts.com/lib/3/images/";-->
<!--//    map.panEventsEnabled = true;-->
<!--//    map.backgroundColor  = "#535364";-->
<!--//    map.backgroundAlpha  = 1;-->
<!--//    map.zoomControl.panControlEnabled  = true;-->
<!--//    map.zoomControl.zoomControlEnabled = true;-->
<!--//    var dataProvider     = {-->
<!--//      mapVar          : AmCharts.maps.usaHigh,-->
<!--//      getAreasFromMap : true,-->
<!--//      areas           : [-->
<!--//      ]-->
<!--//    };-->
<!--//    map.dataProvider     = dataProvider;-->
<!--//    map.areasSettings    = {-->
<!--//      autoZoom             : true,-->
<!--//      color                : "#CDCDCD",-->
<!--//      colorSolid           : "#5EB7DE",-->
<!--//      selectedColor        : "#5EB7DE",-->
<!--//      outlineColor         : "#666666",-->
<!--//      rollOverColor        : "#88CAE7",-->
<!--//      rollOverOutlineColor : "#FFFFFF"-->
<!--//    };-->
<!--//    map.write("mapdiv");-->
<!--//  });-->
<!--</script>-->

<h1 id="tagging">
  <form method="get" action="/">
    <button>Logout</button>
  </form>
</h1>





