<link rel="stylesheet" type="text/css" href="root.css">

<div id="wrapper">
  <img src="/images/why_1.jpg">
  <div id="why_content">
    <h3> Why would you use GoHuntGeo?
      <br>
      <br>
      Because it literally rewards you for traveling around and hitting a button everytime you pass into a different state. Everyone loves free things, and at GoHuntGeo we love to give you
      <br>
      <br>
      "all the things"!!!!</h3></div>
  <img src="/images/why_3.jpg">
  <img src="/images/why_4.jpg">
</div>