#site {
    color: #00ffa5;
    width: 100%;
    background-image: url('images/cityscape.jpg');
    background-repeat: no-repeat;
    text-emphasis-color: #00ffa5;
}
a:link
{
    color:#00ffa5;
}

a:visited
{
    color:#00ffa5;
}

a:hover
{
    color:#00ffa5;
}

#notice
{
    color:#00ffa5;
}
#welcome
{
    color: #00ffa5;
}

#map {
    height: 400px;
    width: 600px;
}
#content {
    color: #00ffa5;
    border-style: solid;
    border-width: 5px;
    text-align: left;
    margin-bottom: 10%;
    float: left;
    width: 20%;
    height: 350px;
}
#location {
    color: #00ffa5;
}
#why_content {
    color: #00ffa5;
    border: 2px solid #00ffa5;
    width: 700px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;

}
/*#map {*/
    /*font-size: 70%;*/
    /*text-align: left;*/
    /*background-color: #535364;*/
    /*margin-top: 10%;*/
    /*color: #CDCDCD;*/
#register {
    color: #00ffa5;
}

#login {
    color: #00ffa5;
}

#contact {
    color: #00ffa5;
}
body {
    background-color: #000000;
    text-align: center;
}

#flag-map {
    border: 5px solid #00ffa5;
    overflow: hidden;
}

header {
    background-color: black;
    text-align: center;
    float: right;

}
#header {
    color: #00ffa5;
}
}
img {
    width: 450px;
    height: 350px;
}
#works {
    color: #00ffa5;
    border: 2px solid #00ffa5;
    text-align: left;
}
ul.stately {
    width:900px; /*width and font size must match*/
    font-size:900px;
    color: rgba(58, 53, 54, 0.87);
}
#places_ive_been {
    margin-left: 20%;
}
#points {
    color: #00ffa5
}
